/* General Chatbot styles */
.chatbot {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  .chatbot-header {
    background-color: #c2c8c8;
    color: #0f1013;
    padding: 1rem;
  }
  
  .chatbot-logo-container {
    display: flex;
    align-items: center;
  }
  
  .chatbot-logo {
    width: 100px;
    height: auto;
    margin-right: 1rem;
  }
  
  .chatbot-title {
    font-size: 1.5rem;
  }
  
  /* Video Section */
  .video-section {
    position: relative;
    background-color: #999999;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-button {
    width: 64px;
    height: 64px;
    background-color: #f8f1f1;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-icon {
    width: 0;
    height: 0;
    border-left: 12px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  
  /* Summary Section */
  .summary-section {
    padding: 1rem;
  }
  
  .summary-title {
    font-size: 1.5rem;
  }
  
  .summary-text {
    font-size: 1rem;
  }
  
  /* Chatbot Section */
  .chatbot-chatbot-section {
    padding: 1rem;
    overflow-y: auto;
  }
  
  .chatbot-messages {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 1rem;
  }
  
  .chatbot-message {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .chatbot-message img {
    margin-right: 1rem;
  }
  
  .chatbot-message-content {
    max-width: 70%;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
  
  .chatbot-message-content strong {
    font-weight: bold;
  }
  
  .chatbot-chat-input {
    display: flex;
  }
  
  .chatbot-chat-input input {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chatbot-chat-input button {
    width: 20%;
    background-color: #161819;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chatbot-chat-input button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .chatbot-main-content {
      flex-direction: column;
    }
  }
  